/*FIXED RESUME  header*/
#download {
    position: fixed;
    z-index: 99;
}

#logo_name {
    margin-left: 30px;
    color: #000;
}

.download-file {
    margin-left: -30px;
    margin-top: -8px;
}

/*TOOLTIPS BUTTON*/
.navigator .r {
    color: var(--resume-color)
}

.tooltip-text {
    position: absolute;
    padding: 2px;
    border: 1px solid;
    background-color: transparent;
    color: #777;
    text-align: center;
    font-size: .6rem;
    font-weight: 100;
    border-radius: 5px;
    width: 90px;
    visibility: hidden;
    margin: 52px 52px;
}

.tooltip-text1 {
    position: absolute;
    padding: 2px;
    border: 1px solid;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    text-align: center;
    font-size: .6rem;
    border-radius: 5px;
    width: 100px;
    visibility: hidden;
    margin: 68px 20px;
}

.tooltip-text2 {
    position: absolute;
    padding: 6px 1px;
    line-height: 1;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: #777;
    text-align: center;
    font-size: .8rem;
    width: 65px;
    visibility: hidden;
    margin-right: 20px;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-name:hover .tooltip-text,
.download-file:hover .tooltip-text1,
#go-up:hover .tooltip-text2 {
    visibility: visible;
}

/*TECHNICAL SKILLS SECTION*/
.technical-contain {
    background-image:
        linear-gradient(rgba(233, 223, 223, 0.6),
            rgba(233, 223, 223, .6)),
        url(/src/img/technical-skills.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1px;
    opacity: .8;
}

.technical-header {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: 3.5rem;
    color: var(--header-color);
    padding: 20px 0;
    margin: 22px auto;
}

.knowledge {
    text-align: center;
    font-family: var(--header-font);
    font-size: 2rem;
    color: var(--header-color);
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 15px;
}

.range {
    margin: 60px auto;
    max-width: 70%;
    height: auto;
}

.range-skills {
    display: grid;
    grid-template-columns: 15% 70% 5%;
    justify-content: center;
    align-items: center;
    font-family: var(--content-font);
    font-size: var(--content-size);
    font-weight: 600;
    margin-top: 15px;
    letter-spacing: 1px;
}

.range-html,
.range-css,
.range-sass,
.range-js,
.range-react,
.range-vue,
.range-bootstrap,
.range-api {
    background-color: var(--range-color);
    height: 8px;
    margin: 25px 0px;
    animation: slider 3s alternate;
}

@keyframes slider {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.range-html {
    width: 90%;
}

.range-css {
    width: 95%;
}

.range-sass {
    width: 90%;
}

.range-react {
    width: 95%;
}

.range-js {
    width: 80%;
}

.range-vue {
    width: 65%;
}

.range-bootstrap {
    width: 85%;
}

.range-api {
    width: 85%;
}

/*web skills section*/
.web-skills {
    background: hsla(208, 7%, 55%, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1px;
    opacity: .8;
}

.web-contain {
    margin: 0 auto;
    width: 80%;
}

.web-header {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: 7rem;
    color: var(--header-color);
}

.web-features {
    margin: 40px 80px;
}

.web-features li {
    line-height: 2.5;
    font-family: var(--content-font);
    font-size: var(--content-size);
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--title-color);
    padding: 5px 0;
    max-width: 100%;
    list-style: url(/src/icon/terminal-solid.svg);
    list-style-position: inside;
}

/*SKILLS FILED*/
.field-skills {
    background: hsla(155, 23%, 71%, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1px;
    opacity: .8;
}

.field-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-template-rows: 1fr 2fr 2fr;
}

.personal-contain {
    grid-area: 1 / 1 / span 2 / span 2;
}

.prog-contain {
    grid-area: 2 / 2 / span 1 / span 2;
}

.key-contain {
    grid-area: 3 / 3 / span 1 / span 3;
}

.prog-contain,
.personal-contain,
.key-contain {
    margin-left: 70px;
    letter-spacing: 2px;
}

.header {
    margin-bottom: 12px;
    font-family: var(--header-font);
    font-size: var(--title-size);
    font-weight: 900;
    color: var(--header-color);
    filter: opacity(80%);
}

.prog-features,
.personal-features,
.key-features {
    line-height: 2;
    font-size: var(--content-size);
    font-family: var(--content-font);
    font-weight: 400;
    color: var(--title-color);
    list-style: url(/src/icon/terminal-solid.svg);
}

/*CERTIFICATION*/
.certification {
    background: hsla(52, 43%, 55%, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.certification-contain {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 36px;
}

.cert-header {
    padding: 45px;
}

.cert-header h1 {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: 7rem;
    color: var(--header-color);
    opacity: .6;
    text-transform: uppercase;
}

.cert-logo {
    display: flex;
    justify-content: space-evenly;
}

/*certificate images*/
.gallery {
    position: relative;
    width: 100%;
    height: 100vh;
}

.gallery .carousel-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .7s opacity;
    width: 100%;
    max-width: 900px;
    max-height: 700px;
}

.carousel-item[data-active] {
    opacity: 1;
}

.slides img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
}

.gallery .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    width: 40px;
}

.btn.prev {
    left: 0%;
}

.btn.next {
    right: 0%;
}

.slides .number {
    position: absolute;
    top: 40px;
    left: 30px;
}

/*EMPLOYMENT HISTORY*/
.employment-history {
    background-image:
        linear-gradient(rgba(233, 223, 223, 0.6),
            rgba(233, 223, 223, .6)),
        url(/src/img/experiance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.history-head h1 {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: 5rem;
    color: var(--header-color);
    opacity: .6;
    padding: 45px;
}

.history-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--content-font);
    font-size: var(--title-size);
    letter-spacing: 2px;
}

.history-title img {
    filter: contrast(2);
    margin: 20px;
}

.history-content::first-letter {
    font-size: 50px;
    color: #000;
    font-weight: 600;
    background-color: #ffff00;
    border: 5px solid;
    padding: 0 8px;
    margin-right: 5px;
    line-height: 1.2;
    float: left;
}

.history-content {
    font-size: var(--title-size);
    font-family: var(--content-font);
    color: var(--title-color);
    width: 60%;
    margin: 22px auto;
    line-height: 1.5;
}

.marketing-duty {
    padding-bottom: 32px;
    text-align: center;
    line-height: 2;
    font-size: var(--content-size);
    font-family: var(--content-font);
    color: var(--title-color);
    list-style: url(/src/icon/terminal-solid.svg);
    list-style-position: inside;
    padding: 8px;
}

.freelancer {
    width: 50%;
    margin: auto;
    text-align: start;
}

.transfer-contain {
    display: flex;
    justify-content: space-between;
}

.transfer {
    padding-bottom: 25px;
}

.btn {
    background-color: transparent;
    color: var(--title-color);
    font-family: var(--content-font);
    font-weight: 400;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 20px;
    box-shadow: 3px 3px 8px;
}

.btn:hover {
    color: #777;
}

.social .a,
.b {
    padding-left: 4px;
}

/*Breakpoint*/
@media screen and (min-width: 768px)and (max-width: 992px) {
    .resume-container {
        width: 100%;
    }

    .field-main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0;
        width: 95%;
    }

    .field-main .header {
        text-decoration: underline;
    }

    .prog-contain,
    .personal-contain {
        margin-left: 40px;
        letter-spacing: 2px;
    }

    .key-contain {
        margin: 0 0 1rem 0;
    }

    .key-features li {
        font-size: 1rem;
    }

    .range span {
        font-size: .8rem;
    }

    .cert-header h1 {
        font-size: 5rem;
    }

    .gallery .carousel-item {
        height: 100vh;
    }

    .slides .number {
        top: 20px;
        left: 195px;
    }

    .gallery .btn {
        width: 30px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: calc(60% + 0.8vmin);
    }

    * {
        font-size: 1rem;
        margin: 0;
    }

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .navigator .r {
        margin-top: 0;
    }

    .navigator .d {
        display: block;
        margin-top: 20px;
    }

    .bar {
        width: 1.5rem;
        height: 3px;
        background-color: #000;
        margin: 4px 0;
        transition: all .5s;
    }

    .change .bar1 {
        transform: rotate(-405deg) translate(-6px, 4px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(405deg) translate(-6px, -4px);
    }

    .resume-container {
        margin-top: 0;
    }

    .technical-contain h1,
    .web-skills h1,
    .technical-contain h3,
    .certification h1,
    .employment-history h1 {
        font-size: 1.5rem;
        text-decoration: underline;
        line-height: 2;
        font-weight: 900;
    }

    .range {
        margin: 0 auto;
    }

    .range span {
        font-size: .8rem;
        padding: .2rem;
    }

    .range-skills {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        inset: space-between;
        width: 100%;
    }

    .web-skills .web-features {
        text-align: start;
        margin: .8rem 0;
    }

    .field-main {
        display: flex;
        flex-direction: column;
        margin: .8rem 0;
    }

    .prog-contain {
        margin-right: .6rem;
    }

    .field-main h1 {
        text-decoration: underline;
    }

    .cert-logo img {
        width: 6.3rem;
        height: 4.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .history-title {
        display: flex;
        flex-direction: column;
    }

    .marketing-duty li {
        text-align: start;
        margin: .2rem;
    }

    .freelancer {
        width: auto;
    }

    .transfer-contain a {
        font-size: .5rem;
        display: inline-block;
        padding: .2rem;
    }

    .range {
        width: 100%;
    }

    .slides {
        flex: 100%;
        padding: 8px;
    }

    .slides .million img {
        width: 100%;
    }

    .gallery {
        height: 50vh;
    }

    .gallery .btn {
        width: 10px;
        padding: 0;
        box-shadow: none;
    }

    .foot {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 0;
        margin: 1rem;
        border: none;
    }
}