body {overflow-x: hidden;}
/*Download RESUME*/
#logo_name {margin-left: 30px; margin-top: -4px;}

.go-up {
    text-align: center;
    padding: 12px 18px;
    animation: jump 1s alternate infinite;
    position: absolute;
    left: 50%;
}
.go-up i {color: #000;}
.go-up i:hover {color: #555;}
@keyframes jump {
    from {margin-top: 10px}
    to {margin-bottom: 70px;}
}
.tooltip-text1 {
    position: absolute;
    padding: 2px;
    border: 1px solid ;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    text-align: center;
    font-size: .6rem;
     border-radius: 5px;
    width: 100px;
    visibility: hidden;
    margin: 68px 20px;
}
.download-file {
    margin-left: -30px;
    margin-top: -18px;
}
.download-file:hover .tooltip-text1 {visibility: visible;}
.navigator .p {color: var(--project-color)}


/*PROJECTS*/
.main-projects {
    background-image: linear-gradient(rgba(233, 223, 223, 0.7),
    rgba(233, 223, 223, .7)), url(/src/img/projects.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1px;
    opacity: .8;
}
.projects-header {
    text-align: center;
    font-family: var(--header-font);
    font-weight: 900;
    font-size: 6rem;
    color: var(--header-color);
    opacity: .6;
}
.projects-container {
    max-width: 90%;
    margin: 40px auto;
}
.api-head, .html-css-head, .vue-head {
    margin-bottom: 60px;
    margin-left: -6%;
    font-family: var(--header-font);
    font-size: var(--title-size);
    font-weight: 900;
    color: var(--header-color);
    filter: opacity(80%);
}
.api-head h3, .html-css-head h3, .vue-head h3 {
    background-color: transparent;
    text-align: center;
    width: 300px;
    box-shadow: 5px 5px 16px #272626;
    padding: 8px 0;
    border: 1px solid #999;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.map-box, .breaking-bad, .weather,
.search, .clinic, .commerce, .ticket-box, .academy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    height: 80vh;
    scroll-snap-align: start;
}
.title {
    width: 40%;
    font-family: var(--content-font);
    font-size: .9rem;
    font-weight: 400;
    color: #111;
    line-height: 1.5;
}
.title h2 {
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: #003049;
    margin-bottom: 8px;
    transform-origin: left;
    transform: translateY(-100%);
    opacity: 0;
    transition: all .7s;
    transition-delay: .3s;
    opacity: 0;
}
.title p {
    margin-bottom: 12px;
    transform-origin: left;
    transform: translateX(-100%);
    transition: all .7s;
    opacity: 0;
}
.using-by {
    transform-origin: left;
    transform: translateY(100%);
    transition: all .7s;
    transition-delay: .3s;
    opacity: 0;
}
.main-projects p.active {
    transform: translateX(0);
    opacity: 1;
}
.using-by.active {
    transform: translateY(0);
    opacity: 1;
}
.main-projects h2.active {
    transform: translateY(0);
    opacity: 1;
}
.main-projects .src {
    transform: translateX(120%);
    transition: all .7s;
    opacity: 1;
}
.main-projects .src.active {
    transform: translateX(0);
    opacity: 1;
}
.live-site .fas, .live-site .fab,
.title .key, .title span{
    background-color: transparent;
    padding: 8px 10px;
    margin: 4px 6px;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 8px 12px 6px #111;
    transition: all .3s ease;
}
.live-site .fas:hover, .live-site .fab:hover,
.live-site .fas:link, .live-site .fab:link {
    background-color: #555;
    color: #000;
    transform: scale(.9);
}
#letter {
    background-color: #333;
    color: #eee;
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 5px;
    box-shadow: none !important;
}
.live-site i {
    color: #000;
}
.src {
    width: 50%;
}
.src img {
    object-fit: cover;
    filter: contrast(120%);
    border-radius: 5px;
}

/*Breakpoint*/
@media screen and (max-width: 768px) {
    .map-box, .breaking-bad, .weather,
.search, .clinic, .commerce, .ticket-box, .academy {
    height: 70vh;
}
    .api-projects div, .projects-container div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navigator .d {
        display: block;
        margin-top: 20px;
    }
    .navigator .r {
        margin-top: 0;
    }
    .bar {
        width: 1.5rem;
        height: 3px;
        background-color: #000;
        margin: 4px 0;
        transition: all .5s;
    }
    .change .bar1 {
        transform: rotate(-405deg) translate(-6px, 4px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: rotate(405deg) translate(-6px, -4px);
    }
    .main-projects {
        width: 100%;
        z-index: 9;
        margin-top: 0;
    }
    .title {
        margin: 0;
        text-align: start;
        width: 90%;
    }
    .title .using-by {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .title span, .title .using-by i, .using-by .key {
        box-shadow: none;
        margin: 2px 4px;
    }
    .src{
        width: 100%;
        margin-top: 1.5rem;
    }
    .foot {
        border-top: none;
        margin: 1rem 0;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    h1 {font-size: 2.5rem;}
    .content-about {font-size: 1rem;}
    .using-by span {margin: .5rem;}
    .using-by {
        display: flex;
        align-items: center;
    }
    .logo {
        margin-left: -18px;
    }
}