html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
}
#download {
    position: fixed;
    z-index: 99;
}
#logo_name {
    margin-left: 30px;
    margin-top: -4px;
}
.logo-name {
    position: relative;
    display: inline-block;
}
.download-file {
    margin-left: -30px;
    margin-top: -18px;
}
.tooltip-text {
    position: absolute;
    padding: 2px;
    border: 1px solid ;
    background-color: transparent;
    color: #777;
    text-align: center;
    font-size: .6rem;
    font-weight: 100;
    border-radius: 5px;
    width: 90px;
    visibility: hidden;
    margin: 52px 52px;
}
.tooltip-text1 {
    position: absolute;
    padding: 2px;
    border: 1px solid ;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    text-align: center;
    font-size: .6rem;
    border-radius: 5px;
    width: 100px;
    visibility: hidden;
    margin: 68px 20px;
}
.logo-name:hover .tooltip-text,
.download-file:hover .tooltip-text1 {
    visibility: visible;
}
.download-file {
    display: flex;
}
header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    background-color: var(--background-clip);
    box-shadow: 3px 3px 8px rgb(190, 179, 179);
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 10px 20px 0 20px;
}
.navigator ul {
    padding-top: 8px;
}
header .logo-name {
    font-family: var(--header-font);
    font-size: var(--title-size);
    color: var(--header-color);
    font-weight: 900;
    text-decoration: none;
}
/*MENU BAR mobile screen*/
.menu-bar, .d {
    display: none;
}
.navigator li {
    list-style-type: none;
    display: inline-block;
    padding: 0 1rem;
    border-right: 1px solid var(--header-color);
}
.navigator ul :last-child {
    border-right: none;
}
.navigator li:last-child {
    border-right: none;
}
.navigator .navigate {
    text-decoration: none;
    font-family: var(--content-font);
    color: var(--header-color);
    font-size: var(--content-font);
}
.navigator li :hover {
    color: var(--project-color);
    transition: all 0.3s ease;
}
.navigator li:first-child :hover {
    color: var(--resume-color);
}
.navigator li:nth-child(3) :hover {
    color: var(--contact-color);
}
.navigator li:nth-child(4) :hover {
    color: #0b2df0;
}
.navigator li .r:focus {
    color: var(--resume-color)
}
.navigator li .p:focus {
    color: var(--project-color)
}
.navigator li .c:focus {
    color: var(--contact-color)
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: 100px;
}
.profile-image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 200px;
    margin-right: 80px;
}
.about-me {
    width: 30%;
    margin: 80px;
}
.profession {
    font-size: 50px;
    width: max-content;
    margin-bottom: 50px;
    font-family: var(--header-font);
    font-weight: 900;
    color: #003049;
    position: relative;
    font-family: 'Source Code Pro', monospace;
}
.profession::before,
.profession::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.profession::before {
    background: var(--background-clip);
    animation: writer 4s steps(18) 4.5s forwards;
}
.profession::after {
    background: #000;
    width: 0.125em;
    animation:
    writer 4s steps(18) 4.5s forwards,
    blink 500ms steps(18) infinite;
}
@keyframes writer {
    to {
        left: 100%;
    }
}
@keyframes blink {
    to {
        background-color: transparent;
    }
}
.title-about {
    font-family: var(--header-font);
    font-size: var(--title-size);
    color: var(--header-color);
    margin-bottom: 12px;
}
.content-about {
    font-family: var(--content-font);
    font-size: var(--content-size);
    color: var(--title-color);
    line-height: 1.5;
}
.info ul {
    margin: 8rem 0;
    display: flex;
    justify-content: space-around;
}
.info li {
    list-style-type: none;
    display: inline-block;
    transition: all .8s ease;
}
.info a {
    text-decoration: none;
    font-family: var(--content-font);
    color: var(--title-color);
    font-weight: 400;
}
.info .i {
    font-size: var(--title-size);
    border: none solid #000;
    border-radius: 50%;
    padding: 2.9rem .9rem;
    transition: all .8s ease-in;
    box-shadow: 8px 8px 10px 2px #656565;
    background-color: var(--background-clip);
}
.info .resume:hover {
    background-color: var(--resume-color);
}
.info .projects:hover {
    background-color: var(--project-color);
}
.info .contact:hover {
    background-color: var(--contact-color);
}
.info li:active {
    transform: scale(.6);
}
.info .resume:focus {
    background-color: var(--resume-color);
}
.info .projects:focus {
    background-color: var(--project-color);
}
.info .contact:focus {
    background-color: var(--contact-color);
}
.foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 50px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-top: 1px solid var(--content-color);
}
.foot .social {
    margin: 0 auto;
}
.foot div > legend {
    margin: 10px 0;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-family: var(--header-font);
    color: var(--header-color);
    font-size: var(--content-size);
    font-weight: 600;
}
.foot div > a {
    font-family: var(--content-font);
    color: var(--title-color);
    text-decoration: none;
}
.icon i {
    padding-right: 15px;
    font-size: 1.5rem;
    color: #0079c1;
}
.social .a, .b, .c {
    padding-left: 4px;
}
.foot .fa-whatsapp {color: #25d366;}
.foot .fa-skype {color: #00aff0;}
.icon .fa-linkedin {color: #0077b5;}
.icon .fa-github-square {color: #000;}
.icon i:hover {color: #0b2df0;}
.icon .fa-skype:hover {color: #00338d;}
.icon .fa-whatsapp:hover {color: #075e54;}
.icon .fa-linkedin:hover {color: #00a0dc;}
.icon .fa-github-square:hover {color: #6e5494;}

/*Breakpoint*/
@media screen and (max-width: 992px) {
    html {
        font-size: calc(60% + 0.8vmin);
    }
    * {
        font-size: 1rem;
        margin: 0;
    }
    .main {overflow: hidden;}
    .profile {width: 100%; height: auto; margin: 0 auto;}
    .info ul {
        margin-bottom: 0;
    }
    .about-me {width: 50%;}
    figure {margin-left: 1rem;}
    .profession{font-size: 2rem;}
    .profile-image{
        width: 100%;
        height: auto;
        border-radius: 5%;
    }
}
@media screen and (max-width: 768px), (orientation: portrait) {
    html {
        font-size: calc(60% + 0.8vmin);
    }
    * {
        font-size: 1rem;
        margin: 0;
    }
    main {
        max-width: 40rem;
        margin: 0 auto;
        overflow-x: hidden;
        margin-top: 2.5rem;
    }
    .profession {
        width: max-content;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0;
        background-color: var(--background-clip);
    }
    header .logo {bottom: 0;}
    .logo .download-file {
        left: 20px;
        top: 20px;
    }
    .logo-name {
        display: none;
    }
    .navigator {display: none;}
    .navigator .d {display: none;}
    .navigator .r {margin-top: 20px;}
    .navigator li{
        display: flex;
        flex-direction: column;
        border-right: 0;
        text-align: center;
        line-height: 2;
    }
    .navigator .navigate {
        padding: 20px 0;        
    }
    .menu-bar {
        display: block;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        cursor: pointer;
        z-index: 999;
    }
    .bar {
        width: 1.5rem;
        height: 3px;
        background-color: #000;
        margin: 4px 0;
        transition: all .5s;
    }
    .change .bar1 {
        transform: rotate(-405deg) translate(-6px, 4px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: rotate(405deg) translate(-6px, -4px);
    }
    .profile {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .profile figure {text-align: center; margin-left: 0;}
    .profile img {
        border-radius: 10%;
        width: 80%;
        height: auto;
        box-shadow: 8px 8px 12px #333;
        background-color: transparent;
        margin: 2.5rem auto;
        transition: none;
    }
    .profile .about-me {
        width: 80%;
        margin: 0 auto;
    }
    .profile h1 {font-size: 1.5rem;}
    .profile .content-about {font-size: 1rem;}
    .profile .info {margin-bottom: 3rem}
    .profile .info a { 
        font-size: .8rem;
        padding: 1.8rem .8rem;
        transition: none;
     }
    .foot {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .foot .social {
        margin-top: 2rem;
    }
}